.btn {
  width: 100%;
  padding: 14px;

  border-radius: 8px;

  border: none;

  margin-top: 10px;

  font-size: 16px;
  cursor: pointer;
}

.btn-primary {
  background: #6c25ff;
  font-weight: 600;
  color: white;
}

.btn-secondary {
  background: #cebafb;
  color: #000;
  font-weight: 600;
}

.btn-disabled {
  background: #ccc;
}
.btn-login {
  background: #908c8c;
  color: #fff;
  font-weight: 600;
}
