.input-group {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
}

.floating-label {
  position: absolute;

  top: -8px;
  left: 12px;

  background: #f7f8f9;

  padding: 0 6px;

  font-size: 13px;

  color: #a479fc;

  font-weight: 500;

  z-index: 1;
}

.required {
  color: red;
  margin-left: 2px;
}

.input-field {
  width: 90%;
  height: 48px;

  border: 1px solid #cbcbcb;

  border-radius: 8px;

  padding: 0 12px;

  font-size: 14px;

  outline: none;

  background: transparent;
}

.input-field:focus {
  border-color: #6c25ff;
}

.input-error {
  border-color: red !important;
}

.error-message {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}

.agency-label {
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 12px;
}

.radio-group {
  display: flex;
  gap: 30px;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 16px;

  cursor: pointer;

  position: relative;
}

.radio-container input {
  display: none;
}

.custom-radio {
  width: 22px;
  height: 22px;

  border-radius: 50%;

  border: 2px solid #cfcfcf;

  display: inline-block;

  position: relative;
}

.radio-container input:checked + .custom-radio {
  border-color: #6c25ff;
}

.radio-container input:checked + .custom-radio::after {
  content: "";

  width: 12px;
  height: 12px;

  background: #6c25ff;

  border-radius: 50%;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
